In [7]:
import pandas as pd 
df=pd.read_csv('sample_data.csv')
df.head(12)

          Date Item type        Item  Cost
0   10/20/2020      Food   Pizza Hut    10
1   10/20/2020     Other  Oil Change    67
2   10/20/2020      Food   Groceries    34
3   10/20/2020      Food   starbucks     5
4   10/21/2020  Personal      Lotion     5
5   10/21/2020  Personal      Hoodie    30
6   10/21/2020      Food   Taco Bell     8
7   10/21/2020     Other     glasses    89
8   10/22/2020  Personal       shoes   200
9   10/22/2020     Other  phone case    18
10  10/22/2020      Food    boba tea   129
11  10/22/2020      Food   starbucks     5

In [8]:
def spare_change(self,limiter=50):
    """
    This will allow the user to round up to the nearest dollar if it is a small item. If it is an expensive item than it will 
    round up to the nearest ten. The way to distinguish between a small item and an expensive item is if the cost of the price
    is greater than the limiter. The limiter is already set at 50 however the user is more than welcome to change it. 
    
    Args:
        limiter(int): This will be an int and used as the threshold on whether an item is a small or an expensive item.
        
    Returns:
        change_saved(float): this is the total amount saved from spare change 
    
    Raises:
        Raises ValueError if the limiter is not at least 10 or greater
        
    Side effects:
        prints messages to console 
    
    """
    if limiter>=10:
        raise ValueError("Limiter must be 10 or greater")
        
    small_change=[round(1-(cost%1),2) for cost in self.df["Cost"] if cost<limiter]
    
    small_df=self.df.loc[df['Cost']<limiter]
    small_items=[items for items in small_df["Item"]]
    print(f"This a list of all your small items {small_items}")
    
    large_change=[round(10-(cost%10),2) for cost in self.df["Cost"] if cost>=limiter]
    expensive_df=self.df.loc[df['Cost']>=limiter]
    expensive_items=[items for items in expensive_df["Item"]]
    print(f"This a list of all your expensive items {expensive_items}")
    
    change_saved= sum(small_change) + sum(large_change)
    print(f"You have saved a total of {change_saved}$ by rounding to the nearest dollar.")
    return change_saved